div.list{
    height:155px;
    width:600px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size:14px;
    color:black;
    background-color:#ddd;
    margin-right:10px;
}